/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --acent-color: #2196f3;
}

/* Цвет основного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Акцент #2196F3 */
/* Белй цвет  #FFFFFF */

/* #FFFFFF
#212121
#FFFFFF
#757575
#2196F3
#EEEEEE
#000000
#F5F4FA
#FFFFFF */

/* Главная


 position: relative;
 width: 1600px;
 height: 2349px;

 background: #FFFFFF;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

/* Портфолио */

/* position: relative;
width: 1600px;
height: 1880px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

.body {
  font-family: Raleway, sans-serif;
  background: #e5e5e5;
  color: #212121;
  color: var(--primery-text-color);
  
}

/* Логотип */
.logo {
  color: #000000;
  color: var(--title-text-color);
}

.logo-left {
  color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Шапка */

.nav-links {
  color: #212121;
}
.nav-links :hover,
.nav-links :focus {
  color: #2196f3;
  color: var(--acent-color);
}

/* Секция заказать услугу */
.section-service {
  color: #ffffff;
  background: #2f303a;
  cursor: pointer;
}

.sectoin-service-title {
  color: #ffffff;
}

/* Секция характеристики */
.charactery {
  color: #e5e5e5;
}

.charactery-list {
  color: #212121;
}
/* Секция чем мы занимаемся  */
.section-activity {
  color: #e5e5e5;
}

.sectoin-title-activity {
  color: #212121;
}
/* секция Наша команда  */
.section-user {
  background-color: #f5f4fa;
}

.section-user-title {
  color: #212121;
}
/* Кнопки */
